@media(min-width:2000px) {
    aside {
        padding: 20px;
        grid-column:1/2;
        grid-row:2/3;
        background-color: #5eb7b7;
    }
    article {
        padding: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: #fc7978;
    }
    header {
        text-align: center;
        padding: 20px;
        grid-column:1/3;
        grid-row: 1/2;
        background-color: #96d1c7;
    }
}
@media(max-width:2000px){
    aside {
        display: none;
    }
    article {
        padding: 20px;
        grid-column: 3/3;
        grid-row: 2/3;
        background-color: #fc7978;
    }
    header {
        text-align: center;
        padding: 20px;
        grid-column:3/3;
        grid-row: 1/2;
        background-color: #96d1c7;
    }
}