@import '../../static/common.css';

@media(min-width:2000px){
    .container {
        padding: 20px 150px;
    }
}
@media(max-width:2000px){
    .container {
        padding: 20px 30px;
    }
}

img {
    width: 100%;
    max-width: 750px;
}

header {
    font-size: 2em;
    font-weight: bolder;
    margin: 5px auto;
}

.headerImg {
    border-radius: 5px;
}

.auther {
    margin-top: 20px;
    /* display: flex; */
}
.auther-content {
    display: flex;
}
.other-info{
    padding: 5px 0;
    margin-left: 20px;
    color: #999;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avatar {
    margin-right: 15px;
}

.avatar > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.autherInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.autherInfo > .name {
    font-weight: bold;
    font-size: 1.5em;
}

.autherInfo > .desc {
    color: #999;
}


