html body {
   margin: 0; 
   padding: 0;
}
a,a:link,a:visited,a:hover,a:active,a:focus {
    text-decoration: none;
    color: inherit;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 1fr 3fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media(min-width:2000px) {
    aside {
        padding: 20px;
        grid-column:1/2;
        grid-row:2/3;
        background-color: #5eb7b7;
    }
    article {
        padding: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: #fc7978;
    }
    .flex-wraper {
        display: flex;
        justify-content: space-between;
    }
    header {
        text-align: center;
        padding: 20px;
        grid-column:1/3;
        grid-row: 1/2;
        background-color: #96d1c7;
    }
    footer {
        text-align: center;
        padding: 20px;
        grid-column: 1/3;
        grid-row: 3/4;
        background-color: #96d1c7;
    }
    .image {
        flex-grow: 1;
        width: 100px; 
        height: 100px;
        border-radius: 12px;
    }
}
@media(max-width:2000px){
    aside {
        display: none;
    }
    article {
        padding: 20px;
        grid-column: 3/3;
        grid-row: 2/3;
        background-color: #fc7978;
    }
    .flex-wraper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header {
        text-align: center;
        padding: 20px;
        grid-column:3/3;
        grid-row: 1/2;
        background-color: #96d1c7;
    }
    footer {
        text-align: center;
        padding: 20px;
        grid-column: 3/3;
        grid-row: 3/4;
        background-color: #96d1c7;
    }
    .image {
        flex-grow: 1;
        width: 150px; 
        height: 150px;
        border-radius: 12px;
    }
}





.blogs{
    /* border: 1px red solid; */
    padding: 20px;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

.blogInfo {
    flex: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.blogInfo > .title {
    flex: none;
}
.blogInfo > .title >.subTitle {
    font-size: 1.2em;
    font-weight: bold;
}
.blogInfo > .title >.date {
    margin-top: 10px;
    color: #ccc;
    font-size: 0.8em;
}
.blogInfo > .desc {
    flex: none;
    margin-top: 10px;
}

