@import 'common.css';
@import 'footer.css';
@import 'media.css';

.grid-wrapper {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: 1fr 3fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.flex-wraper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blogs{
    padding: 20px;
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

.blogInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.blogInfo > .title {
    flex: none;
}
.blogInfo > .title >.subTitle {
    font-size: 1.2em;
    font-weight: bold;
}
.blogInfo > .title >.date {
    margin-top: 10px;
    color: #ccc;
    font-size: 0.8em;
}
.blogInfo > .desc {
    flex: none;
    margin-top: 10px;
}

